body{
  background-color: #2A2C2F;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
  .page {
    font-family: 'Inter', sans-serif;
    background-color: #2A2C2F;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    main{
      background-color: #2A2C2F;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 1280px;
      margin: 0 auto;
    }
/* Estilos base para todas as telas */
.cover {
  position: relative;
  padding-top: 50px;
  padding-bottom: 30px;
  width: 100%;
  max-width: 1184px;
  display: flex;
  margin: 0;
}

.cover-group {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 656px;
  max-height: 254px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cover-title {
  max-width: 656px;
  max-height: 76px;
  font-family: 'Inter', sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFDFD;
  margin: 0;
}

.cover-subtitle {
  max-width: 280px;
  max-height: 66px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}
.cover-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.cover-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.cover-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 191px;
  max-height: 48px;
  padding: 13px 20px;
  border-radius: 4px;
  width: 151px;
  height: 22px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  color: #FFFFFF;
  background-color: #0278FE;
  text-decoration: none;
  gap: 10px;
  margin: 0;
  transition: opacity 0.3s;
}

/* Estilos para telas de desktop */
@media (min-width: 992px) {
  .cover {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .cover-title {
    font-size: 72px;
    line-height: 76px;
  }

  .cover-subtitle {
    font-size: 18px;
    line-height: 22px;
  }

  .cover-link {
    max-width: 191px;
  }
}

/* Estilos para telas de tablet */
@media (max-width: 991px) {
  .cover {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .cover-title {
    font-size: 72px;
    line-height: 76px;
  }

  .cover-subtitle {
    font-size: 18px;
    line-height: 22px;
  }

  .cover-link {
    max-width: 191px;
  }
}

/* Estilos para telas de smartphone */
@media (max-width: 767px) {
  .cover {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .cover-title {
    font-size: 32px;
    line-height: 35px;
  }

  .cover-subtitle {
    font-size: 14px;
    line-height: 16px;
  }

  .cover-link {
    max-width: 191px;
  }
}