body{
    background-color: #2A2C2F;
  }
  .page {
    font-family: 'Inter', sans-serif;
    background-color: #2A2C2F;
    min-width: 280px;
    max-width: 1280px;
    }
  main{
    background-color: #2A2C2F;
    padding: 20px;
    border-radius: 10px;
  }
  /* Estilos base para todos os dispositivos */
  .header {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: auto;
  }
  
  .logo_place_header {
    width: 270px;
    height: 70px;
    margin-top: 34px;
  }
  
  .header__main-illustration {
    width: 100%;
    max-width: 984px;
    max-height: 615px;
    top: 562px;
  }
  
  .header__title {
    max-width: 850px;
    font-family: Inter;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    top: 194px;
    margin: 97px 0 0 0;
  }
  
  .header__subtitle {
    max-width: 720px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    top: 426px;
    margin: 40px 0 0 0;
  }
  
  /* Estilos para smartphones */
  @media (max-width: 767px) {
    .header {
      min-height: auto;
      padding: 20px;
    }
  
    .header__title {
      font-size: 48px;
      line-height: 60px;
      margin: 40px 0 0 0;
    }
  
    .header__subtitle {
      font-size: 24px;
      line-height: 30px;
      margin: 20px 0 0 0;
    }
  
    .logo_place_header {
      width: 200px;
      height: 50px;
      margin-top: 20px;
    }
  
    .header__main-illustration {
      top: 100px;
    }
  }
  /* Estilos para tablets */
  @media (min-width: 768px) and (max-width: 1024px) {
    .header {
      padding: 40px;
    }
  
    .header__title {
      font-size: 72px;
      line-height: 80px;
      margin: 80px 0 0 0;
    }
  
    .header__subtitle {
      font-size: 30px;
      line-height: 36px;
      margin: 40px 0 0 0;
    }
  }
  
  /* Estilos para desktops */
  @media (min-width: 1025px) {
    .header {
      padding: 80px;
    }
  
    .header__title {
      font-size: 96px;
      line-height: 100px;
      margin: 97px 0 0 0;
    }
  
    .header__subtitle {
      font-size: 36px;
      line-height: 42px;
      margin: 60px 0 0 0;
    }
  }