@font-face {
  font-family: 'Inter', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Inter&display=swap') format('truetype');
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('../vendor/fonts/Inter-Regular.ttf');
}