body{
  background-color: #2A2C2F;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
  .page {
    font-family: 'Inter', sans-serif;
    background-color: #2A2C2F;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    main{
      background-color: #2A2C2F;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 1280px;
      margin: 0 auto;
    }
    .intro {
        max-width: 1017px;
        margin: auto;
        padding: 0;
      }
      
      .title-intro {
        font-family: 'Inter', sans-serif;
        font-size: 54px;
        font-weight: 900;
        line-height: 58px;
        letter-spacing: 0em;
        color: #FFFFFF;
        margin: 60px 0 0 0;
      }
      
      .text-quote {
        max-width: 722px;
        max-height: 136px;
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
        margin: 30px 0 0 0;
      }
      
      .author {
        max-width: 720px;
        max-height: 34px;
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: right;
        color: #FFFFFF;
        margin: 15px 0 0 0;
      }
      
      .text-description {
        max-width: 720px;
        max-height: 182px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
        margin: 24px 0 0 0;
      }
      
      /* Estilos para smartphones */
      @media (max-width: 767px) {
        .intro {
          min-height: auto;
          padding: 20px; 
        }
      
        .title-intro {
          font-size: 36px;
          line-height: 40px;
          margin: 40px 0 0 0;
        }
      
        .text-quote {
          font-size: 18px;
          line-height: 24px;
          margin: 20px 0 0 0;
        }
      
        .author {
          font-size: 18px;
          line-height: 24px;
          margin: 10px 0 0 0;
        }
      
        .text-description {
          font-size: 14px;
          line-height: 20px;
          margin: 20px 0 130px 0;
        }
      }
      /* Estilos para tablets */
      @media (min-width: 768px) and (max-width: 1024px) {
        .intro {
          padding: 40px;
        }
      
        .title-intro {
          font-size: 48px;
          line-height: 52px;
          margin: 50px 0 0 0;
        }
      
        .text-quote {
          font-size: 20px;
          line-height: 28px;
          margin: 30px 0 0 0;
        }
      
        .author {
          font-size: 20px;
          line-height: 28px;
          margin: 15px 0 0 0;
        }
      
        .text-description {
          font-size: 16px;
          line-height: 24px;
          margin: 24px 0 0 0;
        }
      }
      
      /* Estilos para desktops */
      @media (min-width: 1025px) {
        .intro {
          padding: 80px;
        }
      
        .title-intro {
          font-size: 54px;
          line-height: 58px;
          margin: 60px 0 0 0;
        }
      
        .text-quote {
          font-size: 24px;
          line-height: 34px;
          margin: 30px 0 0 0;
        }
      
        .author {
          font-size: 24px;
          line-height: 34px;
          margin: 15px 0 0 0;
        }
      
        .text-description {
          font-size: 16px;
          line-height: 26px;
          margin: 24px 0 0 0;
        }
      }