body{
    background-color: #2A2C2F;
  }
  .page {
    font-family: 'Inter', sans-serif;
    background-color: #2A2C2F;
    min-width: 280px;
    max-width: 1280px;
    }
    main{
        background-color: #2A2C2F;
        padding: 20px;
        border-radius: 10px;
      }