body{
  background-color: #2A2C2F;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
  .page {
    font-family: 'Inter', sans-serif;
    background-color: #2A2C2F;
    min-width: 280px;
    max-width: 1280px;
    }
    main{
      background-color: #2A2C2F;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        max-width: 1184px;
        margin: 100px auto 0;
      }
      
      .gallery-image {
        width: 284px;
        height: 213px;
      }
      
      /* Responsivo: 2 imagens por linha */
      @media (max-width: 1184px) {
        .photo-grid {
          grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
        }
      }
      
      /* Responsivo: 1 imagem por linha */
      @media (max-width: 480px) {
        .photo-grid {
          grid-template-columns: 1fr;
        }
      }